version: '3.8'

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    command: sh -c "python manage.py makemigrations && \
      python manage.py makemigrations room && \
      python manage.py migrate && \
      python manage.py loaddata fixtures/rooms_fixture.json && \
      gunicorn djangochat.wsgi:application --bind 0.0.0.0:8001"
    volumes:
      - static_volume:/home/app/web/static
    expose:
      - 8001
    env_file:
      - ./.env
    depends_on:
      - db

  daphne:
    build:
      context: ./
      dockerfile: Dockerfile
    command: sh -c "daphne djangochat.asgi:application --port 8000 --bind 0.0.0.0"
    volumes:
      - static_volume:/home/app/web/static
    expose:
      - 8000
    env_file:
      - ./.env
    depends_on:
      - db
      - redis


  db:
    image: postgis/postgis:13-3.1
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env

  redis:
    image: "redis:7.2.1"

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/static
    ports:
      - "1337:80"
    depends_on:
      - web
      - daphne

volumes:
  postgres_data:
  static_volume:
